*{
    margin: 0;
    padding: 0;
}
.header{
    height: 0.48rem;
    /*background: #f00;*/
    display: flex;
    padding: 0.2rem;
}
.search{
    width: 6.66rem;
    height: 0.5rem;
    background: #eeeeee;
    border-radius: 0.25rem;
    outline: none;
    border: none;
    text-indent: 0.61rem;
    background: #eeeeee url(../image/2.png) 0.2rem 0.1rem no-repeat;
    background-size: 0.3rem 0.3rem;
    
}
.message{
    width: 0.28rem;
    height: 0.3rem;
    margin-top: 0.1rem;
    margin-left: 22px;  
}
.two{
    height: 3.9rem;
    width: 7.5rem;
}
#tu2{
    height: 3.9rem;
    width: 7.5rem;
    display: block;
}
.three{
    height: 3.29rem;
    width: 7.5rem;
    /*background: #ff0000;*/
    /*display: flex;
    justify-content: space-around;*/
    margin-top: 0.2rem; 
}
ul{/*two*/
    float: left;
}
.tu3{
    width:0.8rem;
    height: 0.8rem;
}
#oneone{ /*two*/
    margin-left: 0.50rem;
}
a{
    text-decoration: none;
    margin-top:0.2rem;
}
p{
    margin-top:0.2rem;
    font-size:0.2rem;
}
.a25{/*two*/
    margin-left: 0.6rem;
}
li{
    font-size: 0.2rem;
    list-style: none;
}
#ggg{
    width: 7.1rem;
    height: 1.4rem;
    margin-left: 0.2rem;
    margin-top: 0.3rem;

}

.four{
    height: 4.3rem;
    width: 7.5rem;
    /*background: #eeeeee;*/
}
.fourhigh{
    width: 7.5rem;
    height: 1rem;
    /*background: #0000ff;*/
    margin-top:11px;
    display: flex;
}
.xin{
    /*margin-top: 0.25rem;*/
    width: 0.5rem;
    height: 0.5rem;  
    margin-left:0.2rem;
    margin-top: 0.25rem;
}
.pp1{
    margin-top: 0.19rem;
    margin-left:0.2rem;
    font-size:0.28rem;
}
.pp2{
    font-size:0.18rem;
    margin-top: 0.61rem;
    margin-left:-58px;
}
.you{
    height: 0.24rem;
    width: 0.14rem;
    /*margin-left: 7.16rem;
    margin-bottom: 0.38rem;*/
    position: absolute;
    left:7.16rem;
    top:8.86rem;
}
.fourbottom{
   width: 7.5rem;
   height: 3.3rem;
   
   padding: 0rem,0.2rem;
   display: flex;
   justify-content:space-between;
}
.tutu{
    width: 2.3rem;
    height: 2.3rem;
    display: block;
}
.a111{
    color: #f00;
    height: 0.1rem;
}
.like{
    margin-top:0.1rem;
    padding:0.2rem;
    height: 9.52rem;
}
.liketop{
    /*background: #00ff00;*/
    display: flex;

}
.like-tu img{
    width: 0.5rem;
    height: 0.5rem;
    margin-bottom: 0.25rem;
}
.like-txt{
    flex:1;
}
.like-txt >h3{
    font-size: 0.28rem;
    color:#333;
    margin-top:0.19rem;
    margin-left:0.18rem;
}
.like-txt > p{
    font-size: 0.18rem;
    color:#999;
    margin-top:0.15rem;
    margin-left:0.18rem;
}
.like-you img{
    width: 0.14rem;
    height: 0.24rem;
    margin-bottom:0.38rem;
}
.likebottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.likebottom img{
    width: 3.5rem;
    height: 3.5rem;
    display: block;
}
.likebottom li{
    width: 3.5rem;
    /*background: #00ff00;*/
}
.likebottom  p{
    font-size: 0.24rem;
    height: 0.3rem;
    line-height: 0.3rem;
     /* 单行文本溢出... */
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     color:#333;
}
.like-price{
    display: flex;
    justify-content: space-between;
    margin-top:0.19rem;
    color:#EF1C00;
}
.sale{
    font-size: 0.2rem;
    color:#999;
}